services:
  model-init:
    image: alpine:3.20
    environment:
      MODEL_URL: ${MODEL_URL}
    volumes:
      - ./modelo:/modelo
    command: >
      sh -c "
      apk add --no-cache curl &&
      mkdir -p /modelo &&
      if [ ! -f /modelo/modelo.joblib ]; then
        echo 'Baixando modelo...' &&
        curl -L \"$MODEL_URL\" -o /modelo/modelo.joblib;
      else
        echo 'Modelo jรก existe. Pulando download.';
      fi
      "

  api:
    build: .
    ports:
      - "8000:8000"
    environment:
      MODEL_PATH: /modelo/modelo.joblib
      WORKERS: "1"
      PORT: "8000"
    volumes:
      - ./modelo:/modelo:ro
    depends_on:
      - model-init